
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Kooptimizer{% endblock %}</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3367D6">
    <link href="{% static 'frontend/base.css' %}" rel="stylesheet">

    {% block extra_head %}{% endblock %}

</head>
<body>

    <script src="{% static 'main.js' %}"></script>
    
    <header>
        <div class="logo-title">
            <img src="{% static 'frontend/images/Logo.png' %}" alt="Kooptimizer Logo" class="logo">
            <h1>Kooptimizer</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
                <li><a href="{% url 'download'%}">Download</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
            </ul>
        </nav>
</header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Kooptimizer. All rights reserved.</p>
    </footer>

</body>
</html>